<h2>Add a recipie</h2>

<% if @recipie.errors.any? %>
  <% @recipie.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<%= form_for(@recipie) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  
  <%= f.submit "Create recipie" %>
<% end %>